* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    background-image: url("https://www.schemecolor.com/wallpaper?i=1078&desktop");
}

/* sign-in-form */
.main {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 380px;
    position: relative;
    left: 320px;
    top: 100px;
}

h1 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    padding-top: 10px;
}

.input1 {
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    top: 20px;
    left: 30px;
    width: 320px;
    height: 50px;
}

button {
    width: 320px;
    position: relative;
    left: 30px;
    border-radius: 10px;
}

h5 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    left: 90px;
}

a {
    text-decoration: none;
}

#icon1 {
    position: relative;
    top: -8px;
    left: 320px;
}

#icon2 {
    position: relative;
    top: 25px;
}

#icon1 {
    display: none;
}

#loader {
    display: none;
    position: relative;
    left: 500px;
    top: 300px;
    font-size: 2000px;
    color: white;
}

.quiz-app {
    display: none;
    background-color: white;
    width: 420px;
    position: relative;
    top: 200px;
    left: 300px;
    border-radius: 10px;
}

#hedain {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    top: 5px;
}

#heading2 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    left: -52px;
    top: -22px;
}

.para {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    top: -35px;
    left: 17px;
}

#join {
    border-color: black;
    position: relative;
    top: -25px;
    width: 350px;
}

/* sign-up-form */
.main1 {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 530px;
    position: relative;
    left: 320px;
    top: 40px;
}

/* web&apphtmlpage */
.main3 {
    background-color: antiquewhite !important;
    height: 657px;
}

#heading8 {
    position: relative;
    top: 50px;
    left: -150px;
    font-family: 'Baloo Bhai 2', cursive;
}

#para2 {
    font-size: 20px;
    position: relative;
    top: -35px;
    left: 400px;
}

#hr5 {
    position: relative;
    top: 20px;
    color: gray;
    width: 1140px;
}

.mainaccordian {
    position: relative;
    top: 20px;
    left: -5px;
}

#th {
    position: relative;
    left: 30px;
}

.td {
    position: relative;
    left: 30px;
}

#button10 {
    width: 100px;
    position: relative;
    top: 5px;
    left: -2px;
}


/* quiz.html */
#heading9 {
    position: relative;
    top: 150px;
    left: -80px;
    font-family: 'Baloo Bhai 2', cursive;
}

#text {
    position: relative;
    top: 150px;
    left: 240px;
    font-family: 'Baloo Bhai 2', cursive;
}

#button12 {
    width: 200px;
    position: relative;
    top: 160px;
    left: 380px;
}

/* quiz.css */
.text1 {
    position: relative;
    left: 260px !important;
}

/* quiz.js */
.text2 {
    position: relative;
    left: 335px !important;
}

/* all quiz.html */
.white {
    background-color: white;
    width: 720px;
    position: relative;
    top: 100px;
    height: 300px;
    left: 200px;
    border-radius: 10px;
}

#heading21 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    top: 20px;
    left: 20px;
}

.div input {
    position: relative;
    /* left: 30px; */
    top: 20px;
    background-color: gray;
    cursor: pointer;
}

label {
    position: relative;
    /* left: 30px; */
    top: 19px;
    font-family: 'Baloo Bhai 2', cursive;
}

ul li {
    list-style-type: none;
}

#next {
    width: 100px;
    position: relative;
    left: 550px;
    top: 60px;
}

.scoreArea {
    display: none;
}

#showScore {
    background-color: gray;
    width: 300px;
    height: 120px;
    border-radius: 10px;
    position: relative;
    top: 60px;
    left: 200px;
}

#button34 {
    width: 100px;
    position: relative;
    left: 95px;
    top: 10px;
}

#heading50 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    top: 12px;
    text-align: center;
}

#countDown p {
    position: relative;
    left: 820px;
    top: 110px;
    font-size: 30px;
}

/* #back{
    width: 100px;
    position: relative;
    left: -60px;
    top: 60px;
    display: none;
} */


/* all quiz.html */
.white1 {
    background-color: white;
    width: 720px;
    position: relative;
    top: 100px;
    height: 300px;
    left: 200px;
    border-radius: 10px;
}

#heading22 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    top: 20px;
    left: 20px;
}

.div1 input {
    position: relative;
    /* left: 30px; */
    top: 20px;
    background-color: gray;
    cursor: pointer;
}

label {
    position: relative;
    /* left: 30px; */
    top: 19px;
    font-family: 'Baloo Bhai 2', cursive;
}

ul li {
    list-style-type: none;
}

#next1 {
    width: 100px;
    position: relative;
    left: 550px;
    top: 60px;
}

.scoreArea1 {
    display: none;
}

#showScore1 {
    background-color: gray;
    width: 300px;
    height: 120px;
    border-radius: 10px;
    position: relative;
    top: 60px;
    left: 200px;
}

#button35 {
    width: 100px;
    position: relative;
    left: 95px;
    top: 10px;
}

#heading51 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    top: 12px;
    text-align: center;
}

#countDown1 p {
    position: relative;
    left: 820px;
    top: 110px;
    font-size: 30px;
}





@media (min-width: 320px) and (max-width: 480px) {

    /* login page */
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .main {
        position: relative;
        left: 0px;
        width: 350px;
    }

    .input1 {
        position: relative;
        left: 20px;
        width: 310px;
    }

    button {
        width: 285px;
    }

    h5 {
        position: relative;
        left: 70px;
    }

    #icon1 {
        position: relative;
        top: -8px;
        left: 310px;
    }

    .quiz-app {
        width: 350px;
        position: relative;
        left: 0px;
    }

    #hedain {
        position: relative;
        left: -20px;
        font-size: 30px;
    }

    #heading2 {
        position: relative;
        left: -60px;
        font-size: 30px;
    }

    .para {
        position: relative;
        left: 10px;
    }

    #join {
        width: 280px;
    }

    /* sign-up page */
    .main1 {
        width: 350px;
        position: relative;
        left: 0px;
    }

    #heading {
        position: relative;
        left: 60px;
    }

    /* loader */
    #loader {
        position: relative;
        left: 160px;
    }

    /* web & app html page */
    .main3 {
        overflow-x: hidden;
        height: 667px;
    }

    #heading8 {
        position: relative;
        top: 50px;
        left: -10px;
    }

    #para2 {
        position: relative;
        left: 2px;
        top: -5px;
    }

    .mainaccordian {
        position: relative;
        left: -20px;
    }

    /* quiz.html */
    #heading9 {
        position: relative;
        left: -15px;
    }

    #text {
        position: relative;
        left: 15px;
        font-size: 15px;
    }

    #button12 {
        width: 100px;
        position: relative;
        left: 110px;
    }

    /* quiz.css */
    .text1 {
        position: relative;
        left: 30px !important;
    }

    /* quiz.js */
    .text2 {
        position: relative;
        left: 70px !important;
        font-size: 30px;
    }

    /* all quiz.html */
    .white {
        width: 350px;
        position: relative;
        height: 300px;
        left: 0px;
    }

    #next {
        position: relative;
        left: 220px;
    }

    #countDown p {
        position: relative;
        left: 290px;
        font-size: 20px;
    }

    #heading21 {
        font-size: 15px !important;
    }

    #option1 {
        font-size: 13px;
    }

    #option2 {
        font-size: 13px;
    }

    #option3 {
        font-size: 13px;
    }

    #option4 {
        font-size: 13px;
    }

    #showScore {
        position: relative;
        left: 20px;
        top: 70px;
    }

}